<div class="container-flex" id="doi_reference">
  <div class="row">
    <div class="col-md-6 dataset-form-panel">
      <label for="" class="bootstrap-label">Literature DOI</label>
      <%= f.input :primary_reference, as: :string, label: false, :placeholder =>"You have the DOI from the manuscript? Place it here!" %>
    </div>
    <div class="col-md-6">
      <%= render "datasets/form/crossref" %>
    </div>
  </div>

</div>
