<div class="container-flex col-md-12">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="alert alert-info">Research Data Management is great and important. But we know that it is also additional work for you. SupraBank appreciates your efforts and wants to assist you with your RDM. The SupraBank engine will try to automatically prefill certain parts of
          the datasets, but you will be able to check, change and approve all of them. Let's start.</p>
        <p id="choose_reason">Please choose the reason why you are generating this dataset:</p>
        <div class="radio wizard_role">
          <label><input type="radio" name="role" value="pre" class="bootstrap-label" id="pre_publishing_radio">
            <strong>Pre-publishing:</strong>
            You are currently creating new interaction data and want to bundle them into a dataset prior to your paper publication. You will be able to include the dataset's DOI in your manuscript for data reference.
            <p>
              <em>You have the free choice how to finally publish your interaction dataset on SupraBank: after, before the paper publication or as a mere dataset.</em>
            </p>
          </label>
        </div>
        <div class="radio wizard_role">
          <label><input type="radio" name="role" value="post" class="bootstrap-label" id="post_publishing_radio">
            <strong>Post-publishing:</strong>
            You or a colleague published a paper with the scientific results and now would like to publish the data on SupraBank. Here you are the data manager that is not necessarily involved in the data creation process.</label>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>


