<div class="container-flex">
  <div class="row">
    <div class="col-md-6 dataset-form-panel">
      <label for="" class="bootstrap-label">Scholarly Article State</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 dataset-form-panel">
      <span class="has-tooltip" data-toggle="tooltip" title="You do not plan to publish a scholarly article. You just want to publish the dataset alone. Not recommended.">
        <label class="radio-inline control-label"><%= f.radio_button :scholarArticleState, "mere_dataset", id:'mere_dataset' , class:"scholarArticleState"%>Mere Dataset
        </label>
      </span>
    </div>
    <div class="col-md-2 dataset-form-panel">
      <span class="has-tooltip" data-toggle="tooltip" title="You are aquiring currently the data and did not yet submit your paper.">
        <label class="radio-inline control-label"><%= f.radio_button :scholarArticleState, "genesis", id:'genesis' , class:"scholarArticleState"%>Genesis
        </label>
      </span>
    </div>
    <div class="col-md-2 dataset-form-panel">
      <span class="has-tooltip" data-toggle="tooltip" title="You are planning to submit your paper soon and want to include a DOI to this dataset in your article.">
        <label class="radio-inline control-label"><%= f.radio_button :scholarArticleState, "submission", id:'submission', class:"scholarArticleState"%>Submission
        </label>
      </span>
    </div>
    <div class="col-md-2 dataset-form-panel">
      <span class="has-tooltip" data-toggle="tooltip" title="Your article has been published.">
        <label class="radio-inline control-label"><%= f.radio_button :scholarArticleState, "published", id:'published', class:"scholarArticleState"%>Published
        </label>
      </span>
    </div>
  </div>
</div>
<hr>
