<div class="container-fluid page-header">
  <div class="row">
    <h2 class="col-xs-12">Frameworks</h2>
    <p class="col-xs-12">
    <strong>Framework</strong> is a compound class on SupraBank. Framework cover structures such as Zeolites and MOFs. Currently Zeolites are supported, but MOFs are about to come.
    </p>
    <p class="col-xs-12">Before creating your own custom framework please search here if something already exists.</p>
  </div>
</div>
