 
<div class="form-group row">
  <div class="collapse" id="more_options">
    <%= render 'interactions/advanced_search/methods/collapse_methods', f:f  %>
    <%= render 'interactions/advanced_search/binding/collapse_binding', f:f  %>
    <div class="container col-md-12">
    </div>
    <%= render 'interactions/advanced_search/citation/collapse_citation', f:f  %>
    <%= render 'interactions/advanced_search/conditions/collapse_conditions', f:f  %>
  </div>
</div>
