<link rel="stylesheet" href="https://chemwriter.com/sdk/chemwriter.css">
<script src="https://chemwriter.com/sdk/chemwriter.js"
        data-chemwriter-license="https://suprabank.org/suprabank.org.2023.lic.txt">
</script>
<%- model_class = Molecule -%>
<div class="page-header">
  <h1>Chemical Editor</h1>
</div>
<%= render 'molecules/chemeditor/chemeditor' %>
