<%- model_class = Molecule -%>
<div class="page-header normalWidthOnLargeScreens">
  <h1>Create a custom Molecule or Partner</h1>
</div>

<div class="row col-md-12 normalWidthOnLargeScreens">
   <%= render 'molecules/custom/custom_compound' %>
</div>
