<div class="page-header">
 <h1><%= t('.sign_up') %></h1>
</div>

<p>Dear User,</p>

<p>We are running a patch today. Therefore the sign up is currently unavailable, but will be back soon. </p>

<p>Thanks for understanding,</p>
<p>Your SupraBank Team</p>
