<h3 id="artificial_host_systems" class="level2">Artificial host systems</h3>
<p class="item">
  Compared to biological protein–based receptors, artificial hosts are composed of much simpler, often rigid aromatic building blocks and/or are highly symmetric macrocycles. They are therefore typically much less selective in guest binding than their
  natural counterparts. Nevertheless, the use of artificial host-guest complexes facilitates systematic investigations of non-covalent interactions and molecular recognition principles in general.<a href="#HGC_ref">
    <sup>[14]</sup>
  </a>
  The first classes of artificial hosts that were prepared, the crown-ethers and cryptands, efficiently recognize inorganic and simple organic cations,
  <em>e.g.</em>
  ammonium ions
  <em>via</em>
  ion–dipole interactions.<a href="#HGC_ref">
    <sup>[15]</sup>
  </a>
  Nowadays, there is a great variety of hosts available that bind a wide range of guests. To make the host-guest complex formation more likely, the number of interaction motifs between host and guest can be increased (multivalency effect) or the
  conformational degree of freedom of the host can be reduced (macrocyclic effect). This is known as the
  <b>pre-organization principle</b>. In general, the Gibbs free energy of host-guest formation is a subtle interplay of enthalpic and entropic contributions of interactions between host, guest, and solvent.<a href="#HGC_ref">
    <sup>[4]</sup>
  </a>
</p>

<p class="item">
  <b>Note</b>: Supramolecular systems are inherently complex and may show unexpected behaviour such as aggregation phenomena or formation of higher,
  <em>e.g.</em>
  heteroternary, complexes. We strongly advice the SupraBank users to carefully report on the concentration (ranges) of host, guest or indicator (=competitive binding guest) such that unnoticed complications and their implications for the reported
  binding parameters can be identified at a later stage of data re-use.
</p>

<!-- #reviewed 29.1.2021 -->
