<h3 id="assay_type" class="level1">Assay type</h3>
<p class="item">
  Many different techniques have been devised to examine and understand host-guest complexes and their binding properties. The various methods are categorized in different types of assays depending on the type of host-guest complex formed. The terminus guest is
  used in the following sections for either guest or ligand molecules (in the context of protein-ligand interaction) and the terminus host is used for host and receptor molecules.
</p>
<!-- #reviewed 29.1.2021 -->
