<h3 id="associative_binding_assay" class="level2">Associative-binding assay (ABA)</h3>
<p class="item">
  The associative binding assay (ABA) is based on the binding of two guest molecules to one host molecule (see
  <a href="#f3">
    Figure 3</a>). This is possible if the host has a sufficient large cavity to simultaneously bind two guest molecules having suitable sizes.
  The complexation can involve two different guest molecules, leading to a heteroternary complex as the one of CB[8] with MV
  and Trp-Gly-Gly.<a href="interactions/929"><sup>[SupraBank,</sup></a><a href="#AT_ref"><sup>8]</sup></a>
</p>

<p id="f3" class="item"><br>
</p>
<figure>
  <%= image_tag "glossary/ABA.png", class:"figure"%>
  <figcaption class="gloss_caption">
    Fig. 3: Schematic representation of ABA.
  </figcaption>
</figure>

<p class="item">
  In heteroternary ABA, the host is usually first loaded with one of the guest molecules, and then in the next step the second guest is added. For systems such as the host
  cucurbit[8]uril, the binding of the second guest molecule takes place next to the preloaded molecule inside the cavity
  (stacking complex). The preloading of the host with an indicator gives a host-indicator complex with characteristic spectroscopic properties. The binding of the second guest can then be easily determined if the complexation of the second guest
  leads to a change in
  <em>e.g.</em>
  spectroscopic properties. For instance, addition of the second guest can cause a fluorescence quenching due to the close proximity of guest and indicator inside the host cavity.
</p>
<p class="item">
  Often, protein-ligand interactions are associative as the binding of a substrate happens only if a cofactor is present. Such associative binding are also cooperative (positive or negative). In the special case of
  <a href="#allo">allosteric control</a>, the binding of a ligand to one subunit of the protein increases the affinity of
  neighbouring subunits to further ligands.<a href="#AT_ref"> These ligands can be either identical to the first ligand or different molecules.
    <sup>[3]</sup>
  </a>
</p>
<!-- #reviewed 29.1.2021 -->
