<h3 id="AT_ref" class="level2">References</h3>
<span class="item">
  <ol class="bibliography">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja209266x" target="_blank">
        H. Tang, D. Fuentealba, Y. H. Ko, N. Selvapalam, K. Kim, C. Bohne,
        <em>
          Journal of the American Chemical Society
        </em>
        <b>
          2011</b>,
        <em>133</em>, 20623-20633.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/C9CC07687E" target="_blank">
        S. Zhang, L. Grimm, Z. Miskolczy, L. Biczók, F. Biedermann, W. M. Nau,
        <em>Chemical Communications
        </em>
        <b>2019</b>,
        <em>55</em>, 14131-14134.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1007/978-3-642-83872-9_1" target="_blank">
        M. F. Perutz, 3-25. In: Eds.: K. Reinhart,
        <em>
          Clinical Aspects of O<sub>2</sub>
          Transport and Tissue Oxygenation</em>, Springer-Verlag
        <b>1989</b>.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja109904u" target="_blank">
        S. Moghaddam, C. Yang, M. Rekharsky, Y. H. Ko, K. Kim, Y. Inoue, M. K. Gilson,
        <em>Journal of the American Chemical Society</em>
        <b>2011</b>,
        <em>133</em>, 3570-3581;
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1073/pnas.0706407105 " target="_blank">
        M. V. Rekharsky, T. Mori, C. Yang, Y. H. Ko, N. Selvapalam, H. Kim, D. Sobransingh, A. E. Kaifer, S. Liu, L. Isaacs, W. Chen, S. Moghaddam, M. K. Gilson, K. Kim, Y. Inoue,
        <em>Proceedings of the National Academy of Sciences</em>
        <b>2007</b>,
        <em>104</em>, 20737-20742.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1007/s00216-007-1677-1" target="_blank">
        Ed.: P. D. C. Schalley,
        <em>
          Analytical Methods in Supramolecular Chemistry
        </em>, Wiley‐VCH Verlag
        <b>2006</b>.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ar9600796" target="_blank">
        S. L. Wiskur, H. Ait-Haddou, J. J. Lavigne, E. V. Anslyn,
        <em>Accounts of Chemical Research</em>
        <b>2001</b>,
        <em>34</em>, 963-972.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja064323s" target="_blank">
        L. M. Heitmann, A. B. Taylor, J. Hart, A. R. Urbach,
        <em>Journal of American Chemical Society</em>
        <b>2006</b>,
        <em>128</em>, 12574–12581.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/D0CC01841D" target="_blank">
        S. Sinn, J. Krämer, F. Biedermann,
        <em>Chemical Communications</em>
        <b>2020</b>,
        <em>56</em>, 6620-6623.</a>
    </li>
  </ol>
</span>
