<h4 id="TD_E" class="level3">Binding energy</h4>

<p class="item">
  The binding energy is the minimum energy required to disassemble a system of particles or molecules into separate parts. A measure for this energy is the Gibbs free energy calculated via the binding constant (see above). A good overview is given by Biedermann and Schneider.
  <a href="#TD_ref">
    <sup>[4]</sup>
  </a>
  <br>
</p>
<!-- #reviewed 3.2.2021 -->
