<h4 id="TD_Ka" class="level3">Binding constant</h4>
<p class="item">
  The binding constant
  <em>K</em><sub>a</sub>
  is a special case of the equilibrium constant K and describes the association of a host H (or receptor) and a guest G (or ligand).<a href="#TD_ref"><sup>[1]</sup></a>
  The terms binding affinity, binding constant, and association constant are equivalent. The binding constant is inverse to the dissociation constant
  <em>K</em><sub>d</sub>, which characterizes the unbinding reaction of host H and guest G. The general binding constant <em>K</em><sub>a</sub> is described with
</p>

<figure>
  <%= image_tag "glossary/f_k1.png", class:"eq"%>
</figure>

<p class="item">
  If m = n = 1, it is an 1:1 equilibrium of one guest forming a complex with one host:
</p>

<figure>
  <%= image_tag "glossary/fs_k.png", class:"eq", width: "500px"%>
</figure>

<p class="item">
  with host concentration [H] in equilibrium, guest concentration [G] in equilibrium, host-guest complex concentration [HG] in equilibrium, initial host concentration [H]<sub>0</sub>, initial guest concentration [G]<sub>0</sub>, binding constant
  <em>K</em><sub>a</sub><sup>HG</sup> for the association of the host-guest complex, and dissociation constant
  <em>K</em><sub>d</sub><sup>HG</sup> for the dissociation of the host-guest complex.
</p>

<p class="item">
  The thermodynamic binding constant
  <em>K</em><sub>a</sub> is related to the
  <a href="#Kin">
    kinetics
  </a>
  of the particular system at equilibrium by:
</p>

<figure>
  <%= image_tag "glossary/fs_k2.png", class:"eq", width: "220px"%>
</figure>

<p class="item">
  This means that, in equilibrium, the forward (on) rate with which host and guest bind is equal to the backward rate with which the host-guest complex unbinds. Hence, the equilibrium concentrations are settled and the binding constant is given by the
  ratio of the forward (on) rate constant k<sub>in</sub>
  (M<sup>-1</sup>&nbsps<sup>-1</sup>) and the backward (off) rate k<sub>out</sub> (s<sup>-1</sup>).
</p>

<p id="TD_dG" class="item">
  Additionally, the van’t Hoff equation relates the binding constant and its temperature dependence to thermodynamic parameters as enthalpy Δ<em>H</em>
  or the
  <b>Gibbs free energy Δ<em>G</em>
  </b>(also called free enthalpy):
</p>

<figure>
  <%= image_tag "glossary/fs_k3.png", class:"eq", width: "500px"%>
</figure>

<p class="item">
  with universal gas constant R, temperature T in K, and equilibrium constant
  <em>K</em>
  <sub>eq</sub>.
</p>
<!-- #reviewed 3.2.2021 -->
