<h3 id="cd" class="level2">Circular dichroism spectroscopy (CD)
</h3>
<p class="item">
  Circular Dichroism (CD) spectroscopy measures the differential absorption of left- and right-circularly polarized light by a chiral sample. It occurs in correspondence with electronic and magnetic transition dipole moments and
  represents the chiroptical counterpart of the more common UV-Vis absorption spectroscopy. Hence, it is sensitive to the absolute configuration and total molecular structure of the sample. This means while the two enantiomers of a chiral substance
  will have identical UV-Vis, IR and Raman spectra, they will have distinguishable, mirror-image looking CD spectra.<a href="#Tec_ref">
    <sup>[17,18]</sup>
  </a>
</p>

<p class="item">
  If A is the absorption of the sample from non-polarized light and A<sub>L</sub>
  and A<sub>R</sub>
  are the absorptions of left and right circularly polarized light (L- and R-CPL), the absorption CD is defined as:
</p>

<figure>
  <%= image_tag "glossary/f_cd.png", class:"eq"%>
</figure>

<p class="item">
  This quantity is usually measured in mdeg units.
</p>
<p class="item">
  A standard CD spectrometer is similar in design to a normal spectrophotometer with a few differences (compare
  <a href="#f11">
    Figure 11
  </a>). The incident light coming from the source (S) is passed through the monochromator (M) followed by a photoelastic modulator (PEM), which produces the left and right circularly polarized light (L- and R CPL). When circularly polarized light
  (CPL) passes through a sample possessing chirality, the decreases in amplitude of L- and R-CPL are different. This difference is the CD of the measured sample. The transmitted light is then amplified and the two signals are recombined (through a
  lock-in amplifier) to output the true CD signal collected by the photomultiplier (PMT).
</p>

<p id="f11" class="item"><br>
</p>
<figure>
  <%= image_tag "glossary/fig_cd.png", class:"figure"%>
  <figcaption class="gloss_caption">
    Fig. 11: Scheme of a CD spectrometer.
  </figcaption>
</figure>

<p class="item">
  CD spectroscopy is especially useful in protein science for analysing the secondary structure or conformation of macromolecules or proteins as secondary structure is sensitive to its environment, temperature or pH. However, most bioactive small
  molecules such as amino acids are non-chromophoric or absorb below 280 nm of the electromagnetic spectrum. Besides, small molecules are typically conformationally flexible, giving an averaged CD signal. Thus, CD spectroscopy is of limited use in
  detecting or characterizing metabolites, hormones, or peptides.
</p>
<p class="item">
  In recent years, molecular recognition-based approaches were introduced for chirality sensing of chromophoric small molecules by CD spectroscopy. Therefore, supramolecular optical sensors were developed which interact with the chiral analyte via
  covalent or non-covalent interactions to give rise to spectroscopic responses in the visible region (see
  <a href="#f12">
    Figure 12
  </a>).<a href="#Tec_ref">
    <sup>[19-21]</sup>
  </a>
  In the simplest case, the binding of a chiral analyte to an achiral chromophoric host can give rise to induced CD (ICD) signals in the near-UV or visible region of the latter. The induction of chirality can occur either by an electronic coupling
  between the chromophoric host and the chiral guest in case of rigid host molecules or by the deformation of the host into a chiral conformation upon guest binding in case of flexible host molecules.<a href="#Tec_ref">
    <sup>[22]</sup>
  </a>
  In favourable cases, analyte-specific “ICD fingerprints” occur, which can be utilised for analyte identification and differentiation.<a href="#Tec_ref">
    <sup>[23]</sup>
  </a>
</p>

<p id="f12" class="item"><br>
</p>
<figure>
  <%= image_tag "glossary/fig_cd_2.png", class:"figure"%>
  <figcaption class="gloss_caption">
    Fig. 12: Schematic representation of the two major mechanisms for complexation of chiral guests by achiral hosts, leading to ECD signal generation, a)
    <em>via</em>
    induced circular dichroism (ICD) through electronic coupling between chromophoric hosts and guests, or b) through adaption of a chiral host conformation.</figcaption>
</figure>

<p class="item">
  Information output:
  <ul class="list">
    <li>Chirality</li>
    <li>Optical purity</li>
  </ul>
</p>

<span class="item">
  Examples:
  <ol class="bibliography, list">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja410428b" target="_blank">
        K. W. Bentley, Y. G. Nam, J. M. Murphy, C. Wolf,
        <em>Journal of American Chemical Society</em>
        <b>2013</b>,
        <em>135</em>, 18052-18055.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/cr050005k" target="_blank">
        G. A. Hembury, V. V. Borovkov, Y. Inoue,
        <em>Chemical Reviews</em>
        <b>2008</b>,
        <em>108</em>, 1-73.</a>
    </li>
  </ol>
  <br>
</span>
<!-- #reviewed 3.2.2021 -->
