<h3 id="direct_binding_assay" class="level2">Direct-binding assay (DBA)</h3>
<p class="item">
  A direct binding assay (DBA) probes the interaction between a host and a guest molecule by its accompanying directly measurable output (<em>e.g.</em>
  heat increase/decrease or change in chemical shift) (see
  <a href="#f2">
    Figure 2</a>). The binding affinity of the guest to the host is defined by the
  <a href="#TD_Ka">binding constant <em>K</em><sub>a</sub></a>. If the complexation of the guest leads
  <em>e.g.</em>
  to a change in the spectroscopic properties or a change in temperature (measurable by ITC) the binding affinity
  <em>K</em><sub>a</sub>
  can be determined through titration experiments.
</p>
<p class="item">
  <b>Note</b>: If salts are present in the solvent as
  <em>e.g.</em>
  in buffers, these ions may also bind as guests to the host and, therefore, affect the binding affinities of the host towards other guests.<a href="#AT_ref">
    <sup>[1,2]</sup>
  </a>
  At the SupraBank, salts in buffered solutions shall not count as competitive guests as long as the impact of the bound salt ions is not described explicitly in the original literature from which the data has been extracted. Generally, even if the
  host-guest complexation was studied in a buffer system, please use “DBA” regardless of the presence of possibly interfering salt ions.
</p>

<p id="f2" class="item"><br>
</p>
<figure>
  <%= image_tag "glossary/DBA.png", class:"figure", width:"520px"%>
  <figcaption class="gloss_caption">
    Fig. 2: Schematic representation of DBA.
  </figcaption>
</figure>
<!-- #reviewed 29.1.2021 -->
