<h3 id="epr" class="level2">Electronic paramagnetic resonance (EPR)
</h3>

<p class="item">
  A method for the study of materials or molecules having unpaired electrons is the electron paramagnetic resonance (EPR) spectroscopy, also called electron spin resonance (ESR) spectroscopy.<a href="#Tec_ref">
    <sup>[30-32]</sup>
  </a>
  In EPR as well as NMR, magnetic spins are excited and, thus, there are certain analogies. In EPR, electrons spins, resulting from unpaired electrons, are excited instead of atomic nuclei spins and, hence, a smaller external magnetic field is applied.
  Mostly, EPR measurements use microwave radiation in the 9&nbsp–&nbsp10 GHz region and external magnetic fields corresponding to about 0.35 T.<a href="#Tec_ref">
    <sup>[33]</sup>
  </a>
  Typically, the radiation frequency is kept constant and the external magnetic field is varied in order to obtain a spectrum being called
  <b>continuous wave EPR</b>
  spectrum. Thus, the unpaired electrons,
  <em>i.e.</em>
  the paramagnetic centers, are exposed to microwaves of a fixed frequency. By increasing the external magnetic field, the energy difference between the electronic magnetic spin states m&nbsp=&nbsp<span>&#189;</span>
  and m&nbsp=&nbsp−<span>&#189;</span>
  grows. If this difference matches the energy of the microwaves, the unpaired electron can change to the other spin state. Thus, there is a net absorption of energy. This absorption can be recorded. Often, the first derivative of the absorption
  spectrum is measured instead. Therefore, field modulation by a small additional oscillating magnetic field is applied to the external magnetic field at a typical frequency of 100&nbspkHz. By using phase sensitive detection, only signals with the same
  modulation (100&nbspkHz) are detected. Recording the peak to peak amplitude, the first derivative of the absorption is measured. This results in higher signal to noise ratios. Different to these continuous wave EPR spectra, spectra resulting from
  pulsed experiments are presented as absorption profiles.
</p>

<p class="item">
  EPR spectroscopy is particularly useful for studying metal complexes or organic radicals being used possibly as spin probes. Interactions of the unpaired electron with its environment influence the shape of an EPR spectral line.<a href="#Tec_ref">
    <sup>[33]</sup>
  </a>
  The magnetic moment of a nucleus with a non-zero nuclear spin as
  <em>e.g.</em>
  H<sup>1</sup>
  will affect the unpaired electrons. This leads to the phenomenon of hyperfine coupling, splitting the EPR resonance signal into doublets, triplets, and so forth.<a href="#Tec_ref">
    <sup>[32]</sup>
  </a>
  For instance, the signal pattern can change significantly if an organic radical or metal ion is complexed in a supramolecular host.<a href="#Tec_ref">
    <sup>[34]</sup>
  </a>
  If the exchange between the free and included radical are slow with respect to the EPR time scale (compare to
  <a href="#timescale">NMR time scale</a>), superposed spectra are observed. Then, the
  <a href="#TD_Ka">binding constant <em>K</em><sub>a</sub>
  </a>
  can be determined by varying the host concentration and monitoring spectral changes. Furthermore, line shapes can yield information about, for example, rates of chemical reactions.<a href="#Tec_ref">
    <sup>[31]</sup>
  </a>
</p>

<p class="item">
  Information output:
  <ul class="list">
    <li>binding affinity (<em>K</em><sub>a</sub>)</li>
    <li>concentration c of the analyte</li>
    <li>reaction rate r</li>
  </ul>
</p>

<span class="item">
  Examples:
  <ol class="bibliography, list">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/jacs.9b00150" target="_blank">
        S. Combes, K. T. Tran, M. M. Ayhan, H. Karoui, A. Rockenbauer, A. Tonetto, V. Monnier, L. Charles, R. Rosas, S. Viel, D. Siri, P. Tordo, S. Clair, R. Wang, D. Bardelang, O. Ouari,
        <em>Journal of American Chemical Society</em>,
        <b>2019</b>,
        <em>141
        </em>, 5897-5907.</a>
    </li>
  </ol>
  <br>
</span>
<!-- #reviewed 3.2.2021 -->
