<h3 id="ext" class="level2">Extraction (EXT)
</h3>

<p class="item">
  In extractions, an analyte is transfered from one phase to another immiscible phase by complexation with an extractant.<a href="#Tec_ref">
    <sup>[35]</sup>
  </a>
  This can be used in cleaning, recycling, or analytical applications as well as in the study of the underlying processes. Typically, the analytes are ionic.
  <br>
  Hereinafter, the extraction process will be described in a simplified form based on the overall extraction equilibrium for the example of a salt GA. In the beginning, the free host H, a neutral macrocyclic extractant, is solved in the organic phase
  whereas the guest (analyte) G<sup>n+</sup> and its counterion A<sup>-</sup>
  are in the aqueous phase. Next, both phases are mixed well. An equilibrium of the free host between both phases is established, described by an equilibrium constant
  <em>K</em><sub>H</sub>. The free host in the aqueous phase forms a complex with the guest G<sup>n+</sup>. This equilibrium is characterized by the binding constant
  <em>K</em><sub>HG<sup>n+</sup>
  </sub>. The loaded host is transported to the organic phase with the equilibrium constant
  <em>K</em><sub>HG<sup>n+</sup>nA<sup>-</sup>
  </sub>. Herein, this extracted complex needs a pronounced lipophilicity to achieve a good extraction. The equilibrium constant of the overall extraction
  <em>K</em><sub>ex</sub>
  is:
</p>

<figure>
  <%= image_tag "glossary/f_ext1.png", class:"eq"%>
</figure>

<p class="item">
  Experimentally, the distribution ratio D<sub>analyte</sub>
  can be measured
  <em>e.g.</em>
  using the radiotracer micro-extraction technique with radiolabeled anaylytes.<a href="#Tec_ref">
    <sup>[36]</sup>
  </a>
</p>

<figure>
  <%= image_tag "glossary/f_ext2.png", class:"eq"%>
</figure>

<p class="item">
  Combining this with the equation for the extraction constant
  <em>K</em><sub>ex</sub>
  gives:
</p>

<figure>
  <%= image_tag "glossary/f_ext3.png", class:"eq"%>
</figure>

<p class="item">
  In a second step
  <em>via</em>
  back extraction, the separated analyte can be obtained and the extractant can be recovered.<br>
  Mostly, the extraction equilibrium is much more complicated due to other interactions in the two phases and several different species involved.<a href="#Tec_ref">
    <sup>[37]</sup>
  </a>
  For instance, solvation or desolvation of both host and guest may influence significantly the phase transfer. Both enthalpic and entroptic effects are common. Additionally, processes as host aggregation or oligomerization may occur. Hence, the
  evaluation is often based on mathematical models including nonlinear regression methods.
  <br>
  One of the most important values obtained by extraction experiments is the distribution ratio D, also called partition coefficient P. For instance, the decadic logarithm log&nbspP<sub>OW</sub>
  describes the distribution of a substance between water and octanol and, thus, serves as a measure for hydrophobicity. This coefficient is of critical importance in the assessment of drugs.
</p>

<p class="item">
  Information output:
  <ul class="list">
    <li>binding affinity (<em>K</em><sub>a</sub>)</li>
    <li>stoichiometry (N)</li>
    <li>selectivity</li>
    <li>speciation</li>
    <li>phase transfer behavior</li>
    <li>partition coefficient P (distribution ratio D)</li>
  </ul>
</p>

<span class="item">
  Examples:
  <ol class="bibliography, list">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/9783527644131.ch4" target="_blank">
        H. Stephan, M. Kubeil, K. Gloe, K. Gloe,
        <em>
          Extraction methods</em>. In: P. D. C. Schalley,
        <em>
          Analytical Methods in Supramolecular Chemistry
        </em>, Wiley‐VCH Verlag
        <b>2006</b>.
      </a>
    </li>
  </ol>
  <br>
</span>
<!-- #reviewed 3.2.2021 -->
