<h3 id="fl" class="level2">Fluorescence spectroscopy (FL)</h3>
<p class="item">
  Fluorescence spectroscopy<a href="#Tec_ref">
    <sup>[13]</sup>
  </a>
  is a common method in analytical chemistry for quantitative and qualitative analysis of molecules.
</p>
<p class="item">
  The excitation of a molecule is stimulated by the absorption of a photon, which leads to the
transition from the ground state (S<sub>0</sub>) to an excited state (S<sub>N</sub> with N > 0) (see <a href="#Jablonski">Jablonski diagram</a>))
On account of ultra fast processes such as internal conversation (IC) vibrational and cooling the system
relaxes typically quickly into the first electronically excited state (fluorophors: S<sub>1</sub>, phosphors: T<sub>1</sub>) featuring the lowest vibrational state (<i>v</i><sub>0</sub>) (Kasha’s rule). The radiative decay without alteration of the spin is called fluorescence, commonly the transition from S<sub>1</sub> -> S<sub>0</sub>. The radiative process comprising a spin alternation is called phosphorescence, typically T<sub>1</sub> -> S<sub>0</sub>.

</p>

<p class="item">
  The setup of a fluorescence spectrometer is shown in
  <a href="#f10">Figure 10</a>. The irradiated light which is thinned out by a slit and passes to the monochromator, which selects a certain wavelength. The transmitted light passes the sample, resulting in an excitation, followed by
  fluorescence emission of the excited molecules. The fluorescence light is often measured in a 90&nbsp° angle to the excitation light, to avoid interferences. The emitted light is collected by the detector and transferred into a
  spectrum.
</p>

<p id="f10" class="item"><br>
</p>
<figure>
  <%= image_tag "glossary/fig_flour.png", class:"figure"%>
  <figcaption class="gloss_caption">
    Fig. 10: Scheme of a Flourescence spectrometer.
  </figcaption>
</figure>
<p class="item">
  The emission intensity correlates typically linear with the concentration of the fluorescent molecule if inner filter effects can be excluded.<a href="#Tec_ref">
    <sup>[13]</sup>
  </a>
  Thus, fluorescence spectroscopy can be used to probe the concentration of an emitting species,
  <em>e.g.</em>
  the free indicator or the indicator-host complex. The
  <a href="#TD_Ka">
    binding constant
  </a>
  can be determined by detecting the emission change for a variety of concentration ratios and fitting the curve of the obtained data points.<a href="#Tec_ref">
    <sup>[16]</sup>
  </a>
</p>
<p class="item">
  In host:guest chemistry, fluorescence spectroscopy is commonly used to examine the binding affinities and rate constants of two molecules to each other (<em>e.g.</em>
  host-guest complexes) by measuring the fluorescence emission during the titration of one species to the other. The complex formation causes a change in the environment of host and guest molecules and can result in a:
  <ul class="list">
    <li>Decrease in the fluorescence intensity</li>
    <li>Increase in the fluorescence intensity</li>
    <li>Appearance of a new emission band</li>
  </ul>

</p>

<p class="item">
  Information output:
  <ul class="list">
    <li>binding affinity (<em>K</em><sub>a</sub>)</li>
    <li>stoichiometry (N)
      <em>via</em>
      <a href="#jobs">
        Job plot</a>
      or best fit approach
    </li>
    <li>concentration c of complex</li>
    <li>binding kinetics (using stopped-flow technique)</li>
    <li>lifetime (applying specific calculation or instrumentation)</li>
    <li>quantum yield (using laser setups)</li>
  </ul>
</p>

<span class="item">
  Examples:
  <ol class="bibliography, list">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/C8CP01845F" target="_blank">
        Z. Miskolczy, L. Biczók, G. Lendvay,
        <em>Physical Chemistry Chemical Physics</em>
        <b>2018</b>,
        <em>20</em>, 15986-15994.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/C4CC10227D" target="_blank">
        F. Biedermann, D. Hathazi, W. M. Nau,
        <em>Chemical Communications</em>
        <b>2015</b>,
        <em>51</em>, 4977-4980.
      </a>
    </li>
  </ol>
  <br>
</span>
<!-- #reviewed 3.2.2021 -->
