<h3 id="HGC_ref" class="level2">References</h3>
<span class="item">
  <ol class="bibliography">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/9781118019580" target="_blank">
        Ed.: B. Wang, E. V. Anslyn,
        <em>Chemosensors: Principles, Strategies, and Applications</em>, John Wiley & Sons, Inc.,
        <b>2011</b>.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/acs.chemrev.5b00583" target="_blank">
        F. Biedermann, H.-J. Schneider,
        <em>Chemical Reviews</em>
        <b>2016</b>,
        <em>116</em>, 5216-5300.</a>
    </li>
    <li class="bibliographic_item">
      <a href=" https://doi.org/10.1002/cber.18940270256" target="_blank">
        E. Fischer,
        <em>Berichte der deutschen chemischen Gesellschaft</em>
        <b>1894</b>,
        <em>27</em>, 2985-2993.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/9783527644131" " target=" _blank"=" _blank""="_blank""">
        Ed.: C. A. Shalley,
        <em>Analytical Methods in Supramolecular Chemistry</em>, 2nd ed.,
        <b>2012</b>.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1088/0034-4885/62/6/202" target="_blank">
        P. Bongrand,
        <em>Reports on Progress in Physics
        </em>
        <b>1999</b>,
        <em>62</em>, 921-968.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja00035a004" target="_blank">
        P. C. Weber, J. J. Wendoloski, M. W. Pantoliano, F. R. Salemme,
        <em>Journal of the American Chemical Society</em>
        <b>
          1992</b>,
        <em>114</em>, 3197-3200.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://pubmed.ncbi.nlm.nih.gov/2032315/" target="_blank">
        E. P. Diamandis, T. K. Christopoulos,
        <em>Clinical Chemistry</em>
        <b>1991</b>,
        <em>37</em>, 625-636.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1007/s00253-013-5232-z" target="_blank">
        C. M. Dundas, D. Demonte, S. Park,
        <em>Applied Microbiology and Biotechnology</em>
        <b>2013</b>,
        <em>97</em>, 9343-9353.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1016/j.tibtech.2007.04.001" target="_blank">
        O. H. Laitinen, H. R. Nordlund, V. P. Hytönen, M. S. Kulomaa,
        <em>Trends in Biotechnology</em>
        <b>2007</b>,
        <em>25</em>, 269-277.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/chem.201103364" target="_blank">
        R. N. Dsouza, A. Hennig, W. M. Nau,
        <em>Chemistry - A European Journal</em>
        <b>2012</b>,
        <em>18</em>, 3444-3459.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1016/j.sbi.2003.10.008" target="_blank">
        D. Kern, E. R. P. Zuiderweg,
        <em>Current Opinion in Structural Biology
        </em>
        <b>2003</b>,
        <em>13</em>, 748-757.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1016/s0022-2836(65)80285-6" target="_blank">
        J. Monod, J. Wyman, J.-P. Changeux,
        <em>Journal of Molecular Biology
        </em>
        <b>1965</b>,
        <em>12</em>, 88-118.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/ijch.201700118" target="_blank">
        S. Sinn, F. Biedermann,
        <em>Israel Journal of Chemistry</em>
        <b>2018</b>,
        <em>58</em>, 357-412.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/anie.201103816" target="_blank">
        W. Nau, A. I. Lazar, S. Joshi,
        <em>Angewandte Chemie International Edition</em>
        <b>2011</b>,
        <em>50</em>, 8472-8473.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja01002a035" target="_blank">
        C. J. Pedersen,
        <em>Journal of the American Chemical Society</em>
        <b>1967</b>,
        <em>89</em>, 7017-7036.</a>
    </li>
  </ol>
</span>
