<h3 id="host_guest_chemistry" class="level1">Host-guest chemistry</h3>
<p class="item">
  Host-guest chemistry as part of supramolecular chemistry focuses on systems composed of a discrete number of molecules interacting mainly
  <em>via</em>
  non-covalent and thus, reversible bonds.<a href="#HGC_ref">
    <sup>[1]</sup>
  </a>
  The involved intermolecular forces include electrostatic, van der Waals, and hydrophobic interactions as well as internal strain<a href="#HGC_ref">
    <sup>[2]</sup>
  </a>
  and enable
  <b>molecular recogniton</b>.<a href="#HGC_ref">
    <sup>[3]</sup>
  </a>
</p>

<!-- #reviewed 29.1.2021 -->
