<div class="page-header container-fluid">
  <div class="row">
    <h1>Glossary</h1>
    <p class="item">This is a short overview on supramolecular chemistry and methods relevant for the suprabank. For further information, we recommend the following references amongst many other textbooks and publications in the broad field of supramolecular chemistry.
    </p>
  </div>
  <div class="row">
    <ul class="bibliography, list">
      <li class="bibliographic_item">
        <a href="https://doi.org/10.1039/C0CS00062K" target="_blank">
          P. Thordarson,
          <em>Chemical Society Reviews</em>
          <b>2011</b>,
          <em>40</em>, 1305-1323.
        </a>
      </li>
      <li class="bibliographic_item">
        <a href="https://doi.org/10.1002/9783527814923" target="_blank">
          S. Kubik,
          <em>Supramolecular Chemistry in Water</em>, Wiley‐VCH Verlag
          <b>2019</b>.
        </a>
      </li>
      <li class="bibliographic_item">
        <a href="https://doi.org/10.1007/s00216-007-1677-1" target="_blank">
          Ed.: P. D. C. Schalley,
          <em>
            Analytical Methods in Supramolecular Chemistry
          </em>, Wiley‐VCH Verlag
          <b>2006</b>.
        </a>
      </li>
    </ul>
  </div>
</div>
