<h3 id="photophysics" class="level2">Photophysics – introduction</h3>
<p id="Jablonski" class="item">
  The principals of light absorption and emission of molecules can be well explained using the
  <b>Jablonski diagram</b>
  <a href="#Tec_ref">
    <sup>[9]</sup>
  </a>
  (for a simplified version see
  <a href="#f7">
    Figure 7</a>), which illustrates the different transitions between electronic states (S = singlet, T = triplet) of a molecule after the absorption of a photon with a suitable energy. The irradiation of a molecule with light can lead to the absorption
  of a photon, which results in the transition of the molecule from its ground state ( S<sub>0</sub>, ν<sub>0</sub>) to an exited state (<em>e.g.</em>
  S<sub>1</sub>) with a higher vibrational level (<em>e.g.</em>
  ν<sub>4</sub>). From here, the molecule can quickly relax to its vibrational ground state of the excited state (S<sub>1</sub>, ν<sub>0</sub>)
  <em>via</em>
  a non-radiative relaxation. From there, the molecule can go back to the molecule's ground state S<sub>0</sub>
  by the radiative process resulting in a
  <a href="#fl">fluorescence</a>
  emission or by non-radiative relaxation associated with heat release. Since a part of the energy of the absorbed photon is converted into heat through non-radiative relaxation to the vibrational ground state of the excited state (S<sub>1</sub>,ν<sub>0</sub>) prior to radiative relaxation to the ground state S<sub>0</sub>, the emission band is typically (few examples such as azulene exist) of lower energy (Stokes shift) compared to the absorbance band, but both can intersect.
</p>

<p id="f7" class="item"><br>
</p>
<figure>
  <%= image_tag "glossary/fig_jablonski.png", class:"figure"%>
  <figcaption class="gloss_caption">
    Fig. 7: Jablonski diagram.
  </figcaption>
</figure>

<!-- reviewed 2.2.2021 -->
