<h3 id="pot" class="level2">Potentiometry (POT)
</h3>

<p class="item">
  In potentiometry, the activity of an analyte in aqueous solution is measured by a change in the potential difference E,
  <em>i.e.</em>
  the voltage between a working electrode and a reference electrode.<a href="#Tec_ref">
    <sup>[27]</sup>
  </a>
  Mostly, ion-selective electrodes (ISE), also known as specific ion electrodes (SIE), are used. The potential difference is theoretically dependent on the logarithm of the ionic activity according to the Nernst equation:<a href="#Tec_ref">
    <sup>[28]</sup>
  </a>
</p>

<figure>
  <%= image_tag "glossary/f_pot.png", class:"eq"%>
</figure>

<p class="item">
  E is the potential at the temperature T, E<sub>0</sub>
  is the standard potential, R is the universal gas constant, T is the temperature in Kelvin, z<sub>e</sub>
  is the number of electrons transferred in the reaction, F is the Faraday constant, a<sub>red</sub>
  is the chemical activity of the reduced analyte species, and a<sub>ox</sub>
  is the chemical activity of the oxidized analyte species. Hence, this can be approximated by
</p>

<figure>
  <%= image_tag "glossary/f_pot2.png", class:"eq"%>
</figure>

<p class="item">
  In principle, electrodes can measure the potentials of both positive and negative ions and they are mostly unaffected by the sample color or turbidity. Electrodes showing (an)ionic selectivity often have an ion-exchange resin consisting of a specific
  ion-exchange agent, an ionophore, in an organic polymer membrane. The usage of specific resins allows the preparation of selective electrodes for different ions. However, such electrodes tend to have low chemical and physical durability compared to
  electrodes with glass or crystalline membranes. An example is the potassium selective electrode being based on valinomycin as ion-exchange agent. Valinomycin allows selectively the transport of potassium ions from the aqueous sample phase into the
  PVC-membrane and, thus, the potential of the working electrode changes. Hence, the fundamental chemical process is a guest – induced selective change in the charge separation at the interface between the membrane and the aqueous sample solution. This
  interface possesses unique properties, which are very different from the properties of the bulk phases. There, intermolecular recognition occurs between the analyte and the ionophore with extremely high selectivity and sensitivity.
</p>

<p class="item">
  Additionally, there are examples of detection of uncharged analytes.<a href="#Tec_ref">
    <sup>[29]</sup>
  </a>
  Having added macromolecular hosts as calixpyrroles or corroles in a membrane resin, neutral species as phenol derivates were detectable. Also, it was possible to detect unprotonated aniline derivates in resins based on special calix[4]arenes or
  calix[4]resorcinarenes.
</p>

<p class="item">
  Information output:
  <ul class="list">
    <li>
      concentration c of the analyte</li>
  </ul>
</p>

<p class="item">
  Examples:
  <ol class="bibliography, list">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.5772/52803" target="_blank">
        J. Radecki, H. Radecka,
        <em>Potentiometry for Study of supramolecular recognition prodesses between uncharged molecules</em>. In: Ed. G. Radis-Baptista,
        <em>An Integrated View of the Molecular Recognition and Toxinology</em>
        IntechOpen,
        <b>2013</b>.</a>
    </li>
  </ol>
  <br>
</p>
<!-- #reviewed 3.2.2021 -->
