<h3 id="protein-ligand_binding" class="level2">Protein-ligand binding</h3>
<p class="item">In biological systems, proteins bind with various other molecules both covalently and non-covalenly.<a href="#HGC_ref">
    <sup>[5]</sup>
  </a>
  In the majority of the cases, the interactions are non-covalent and reversible. Hydrogen bonds, electrostatic interactions, cation-pi interactions and lipophilic interactions are the most important contributions, but also more rare non-covalent
  interation types such as halogen bonds can play an important role. A
  <b>ligand</b>
  (or substrate) is an often small molecule that binds a certain protein with high affinity and specificity (see
  <a href="#f1">
    Figure 1</a>). The protein has often a defined three-dimensional conformation, that provides a binding pocket fully engulfing the ligand and, thereby, maximizing the binding contact. Hence, protein-ligand binding often shows selectivity,
  <em>e.g.</em>
  for the size, shape and electrostatic characteristica of the ligand (“lock-and-key” principle). One out of many impressive protein-type hosts is streptavidin that displays one of the highest affinities known for a small molecule (biotin) in aqueous
  media (<em>K</em><sub>a</sub>&nbsp;=&nbsp;3&nbsp;∙&nbsp;10<sup>13</sup>&nbsp;M<sup>−1</sup>).<a href="#HGC_ref">
    <sup>[6]</sup>
  </a>
  On account of its reliably strong and selective complex formation, the (strept)avidin-biotin pair has found a wide range of supramolecular, biochemical, and biotechnological applications.<a href="#HGC_ref">
    <sup>[7-9]</sup>
  </a>
  <br>
</p>

<p id="f1" class="item"><br>
</p>
<figure>
  <%= image_tag "glossary/protein-ligand.png", class:"figure"%>
  <figcaption class="gloss_caption">
    Fig. 1: Schematic representation of protein-ligand binding (reuse permission by John Wiley & sons<a href="#HGC_ref">
      <sup>[10]</sup>
    </a>).
  </figcaption>
</figure>

<p id="allo" class="item">

  Furthermore, if proteins consist of more than one subunit, the binding affinities of these subunits can be regulated
  <em>
    via
  </em>
  <b>allosteric control</b>
  of an effector molecule. Allosteric processes are closely associated with ligand-induced conformational changes of a protein subunit that propagate towards coupled binding sites in other subunits of the same protein. Typical examples are the
  classical homotropic oligomeric systems such as haemoglobin, where the binding of oxygen to one of the subunits is affected by its interactions with the other subunits. If one oxygen molecule binds, the other subunits have a higher affinity to bind
  oxygen which is one example for a positive cooperative effect.<a href="#HGC_ref">
    <sup>[11,12]</sup>
  </a><br>
  Practically, protein-ligand complexes are used for antibody-based biosensors and in ELISA assays due to their great reliability, high
  <a href="#TD_Ka">binding affinity</a>, and selectivity. However, protein based biosensors have a range of disadvantages: their low stability under physiological conditions, the limited range of detectable analytes and their high price.<a href="#HGC_ref">
    <sup>[13]</sup>
  </a>
  Moreover, the internalization of antibodies and other proteins into living cells is tedious. Thus, real time analyte detection and reaction monitoring under physiological conditions faces complications with protein-based biosensors.
</p>
<!-- #reviewed 29.1.2021, last part is a little bit biased -->
