<h4 id="Kin_Ea" class="level3">Rate constant and activation energy</h4>

<p class="item">
  The rate constant k depends on the temperature as is described by the Arrhenius equation:<a href="#TD_ref">
    <sup>[10]</sup>
  </a>
</p>

<figure>
  <%= image_tag "glossary/f_r13.png", class:"eq"%>
</figure>

<p class="item">
  with universal gas constant R, temperature T in Kelvin, the (possibly temperature dependant) pre-exponential factor A, and the activation energy E<sub>a</sub>
  of the reaction.<br>
  The activation energy describes the energy changes during the course of the on-going reaction or association. Thus, it describes the transition state. Molecules have to overcome an energetic barrier in order to react, associate or dissociate. This
  energy needed is supplied by the thermal energy of the molecules, which differs from molecule to molecule as described by the Maxwell-Boltzmann distribution. The smaller the necessary activation energy, the more molecules have enough thermal energy
  to react or associate. A deeper understanding of the physical meaning of the pre-exponential factor A and the activation energy E<sub>a</sub>
  in the empirically found Arrhenius equation are given by the transition state theory and the Eyring equation, which are based on statistical mechanical justification. While Arrhenius equation and Eyring equation have the same general form, the Gibbs
  free energy of activation substitutes the activation energy E<sub>a</sub>
  in the exponential factor. Hence, it is also possible to obtain the enthalpy of activation as well as the entropy of activation.<a href="#TD_ref">
    <sup>[11]</sup></a>
</p>

<p class="item">
  In supramolecular chemistry, activation energies are often well within the range of the thermal energy RT of about 2.5&nbspkJ/mol (200&nbspcm<sup>-1</sup>) at standard temperature. Hence, the molecules can react easily and reaction rates are quitehigh. However, the activation energy might cover a certain range due to differences in the conformations and mutual orientations of host, guest, and solvent molecules in each individual association or dissociation.
  <a href="#TD_ref">
    <sup>[9]</sup>
  </a>
</p>

<h3 id="TD_ref" class="level2">References</h3>
<span class="item">
  <ol class="bibliography">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/C0CS00062K" target="_blank">
        P. Thordarson,
        <em>Chemical Society Reviews</em>
        <b>
          2011</b>,<em>40</em>, 1305-1323.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1016/s0076-6879(82)87029-8" target="_blank">
        C. Y. Huand,
        <em>Methods in Enzymology</em>
        <b>1982</b>,
        <em>87</em>, 509-525.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/C6CC03888C" target="_blank">
        D. B. Hibbert, P. Thordarson,
        <em> Chemical Communications</em>
        <b>2016</b>,
        <em>52</em>, 12792-12805.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/acs.chemrev.5b00583" target="_blank">
        F. Biedermann, H.-J. Schneider,
        <em>Chemical Reviews</em>
        <b>2016</b>,
        <em>116</em>, 5216-5300.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/9781118604243" target="_blank">
        M. Soustelle,
        <em>An introduction of chemical kinetics</em>
        Wiley,
        <b>
          2011</b>.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ac062183z" target="_blank">
        H. J. Motulsky and L. C. Mahan,
        <em> Mol. Pharmacol.</em>
        <b>1984</b>,
        <em>25</em>, 1.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ac062183z" target="_blank">
        S. R. J. Hoare,
        <em>J. Pharmacol. Toxicol. Methods</em>
        <b>2018</b>,
        <em>89</em>, 26-38.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ac062183z" target="_blank">
        T. Egawa, A. Tsuneshige, M. Suematsu, T. Yonetani,
        <em>Analytical Chemistry</em>
        <b>2007</b>,
        <em>79</em>, 2972-2978.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/9780470661345.smc024" target="_blank">
        F. P. Schmidtchen,
        <em>
          Isothermal Titration Calorimetry in Supramolecular Chemistry</em>. In: Eds.: P. A. Gale, J. W. Steed
          <em>
            Supramolecular Chemistry: From Molecules to Nanomaterials
          </em>
          <b>
            2012</b>,
            <em>Wiley</em>.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1515/zpch-1889-0408" target="_blank">
        S. A. Arrhenius,
        <em>Zeitung für Physikalische Chemie</em>,
        <b>1889</b>
        <em>4</em>, 96-116.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1515/zpch-1889-0408" target="_blank">
        Balzani, H. Bandmann, P. Ceroni, C. Giansante, U. Hahn, F. G. Klarner, U. Muller, W. M. Muller, C. Verhaelen, V. Vicinelli and F. Vögtle,
        <em>J. Am. Chem. Soc.</em>
        <b>2006</b>,
        <em>128</em>, 637-648.
      </a>
    </li>

  </ol>
</span>
