<h3 id="RDM" class="level1" >Research Data Management</h3>

<p class="item">
  The SupraBank is a research data management (RDM) project funded by the NFDI4Chem consortia. For a detailed understanding of RDM please visit the webpage of <a class="external-link" href="https://www.forschungsdaten.info/" target="_blank" rel="noopener noreferrer">forschungsdaten.info</a> and have a look in their excellent <a class="external-link" href="https://www.forschungsdaten.info/praxis-kompakt/english-pages/glossary/" target="_blank" rel="noopener noreferrer">glossary</a>. 
</p>


<!-- #reviewed 4.2.2021 -->
