<h3 id="sers" class="level2">Surface enhanced Raman scattering (SERS)
</h3>

<p class="item">
  In Raman spectroscopy, spectra of the scattered instead of the absorbed or emitted light are detected.<a href="#Tec_ref">
    <sup>[25]</sup>
  </a>
  As IR spectroscopy, Raman spectroscopy probes vibrational degrees of freedom. If light is scattered by a material, most photons are scattered elastically. This means that the photons have the same energy as the incident photons, but a different
  direction. This Rayleigh scattering usually has an intensity of about 0.1 % to 0.01 % of that of the radiation source being mostly a laser with visible or Near Infrared (NIR) radiation. An even smaller fraction of the photons, about one in a million,
  is scattered inelastically. The energy of the scattered photons is either photons is either higher (Anti Stokes) or lower (Stokes) than that of the incident photons.
<p class="item">
  In general, the intensity of Raman scattering is very small compared to the incident light as so few photons are scattered inelastically. If single molecules or analytes in very low concentrations shall be studied, an enhancement is often needed. One
  method is the surface-enhanced Raman Spectroscopy (SERS). If molecules are adsorbed on rough metal (<i>e.g.</i> silver or gold)  surfaces or
  on metal nanostructures, Raman scattering is strongly enhanced by a factor of up to 10<sup>10</sup>
  or 10<sup>11</sup>.<a href="#Tec_ref">
    <sup>[24]</sup>
  </a>
  Thus, this immense enhancement enables the detection of even single molecules.
  Silver and gold are typical metals for SERS experiments as their plasmon resonance frequencies fall within the visible and NIR range
  used for Raman scattering. However, the metal particles or surfaces need to have the right size or structure in order to create
  the so-called hot spots having high local field intensities. Unfortunately, it is difficult to create stable aggregates of a given
  size that do not aggregate further, but supramolecular hydrogels are tested for stabilisation.
  <a href="#Tec_ref">
    <sup>[38]</sup>
  </a>
</p>
<p class="item">
For supramolecular chemistry, SERS measurements offer the possibility to study the orientations of molecules in host-guest complexes
and to the surface.
Basically, the modes present in the SERS spectrum depend on the exact orientation of the molecules due
  to the connected symmetry changes as Raman scattering is based on a change in polarizability.<a href="#Tec_ref">
    <sup>[39]</sup>
  </a>
  Additionally, a qualitative assessment of analytes is possible by carrying out a principal component analysis of the spectral changes
  upon analyte variation and the binding constant K<sub><em>a</em></sub> can be determined.<a href="#Tec_ref">
    <sup>[26]</sup></a>
Furthermore, it is possible to differentiate different guests by the application of pattern recognition algorithms.<a href="#Tec_ref">
  <sup>[26]</sup>
  </a>
</p>

<p class="item">
  Information output:
  <ul class="list">
    <li>Detection of single molecules or very low concentrations</li>
    <li>Orientation of adsorbed molecules</li>
  </ul>
</p>

<span class="item">
  Examples:
  <ol class="bibliography, list">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/acs.langmuir.7b01445" target="_blank">
        T. R. Canrinus, W. W. Y. Lee, B. L. Feringa, S. E. J. Bell, W. R. Browne,
        <em>
          Langmuir
        </em>
        <b>2017</b>,
        <em>33</em>, 8805-8812.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/c7fd00147a" target="_blank">
        B. de Nijs, M. Kamp, I. Szabo, S. J. Barrow, F. Benz, G. Wu, C. Carnegie, R. Chikkaraddy, W. Wang, W. M. Deacon, E. Rosta, J. J. Baumberg, O. A. Scherman,
        <em>Faraday Discussions</em>
        <b>
          2017</b>,
        <em>205</em>, 505-515.
      </a>
    </li>
  </ol>
  <br>
</span>
<!-- #reviewed 3.2.2021 -->
