<h3 id="simulations" class="level1">Simulations</h3>

<p class="item">
  SupraBank is providing a simulation of the binding isotherm for all interactions for a 1:1 interaction, so a DBA, no matter which assay type is selected. Registered users can vary the input variables in order to simulate a binding experiment. One can find them below the overview page.
</p>
<p class="item">
  These simulations are based on the best practice guide by Keiji Hirose for the determination of binding constants. <a href="#SIM_ref">
    <sup>[1]</sup>
  </a>

</p>
<p class="item">
  As a 1:1 stoichometry comprising a DBA is assumed, the equation for K<sub>a</sub> in the section <a href="#TD_Ka">binding constant</a> is solved analytically to the equilibrium concentration of Host (H) and Guest (G). If no input parameters are changed, the inital host concentration is set to 2&nbsp<em>K</em><sub>d</sub>. The inital concentration of the guest is then varied from 0 to 4&nbsp<em>K</em><sub>d</sub>. The simulated isotherm displays the equilibrium concentrations of free host (H), free dye/guest (D) and the host:guest/dye (HD) complex.
</p>
<h3 id="SIM_ref" class="level2">References</h3>
<span class="item">
  <ol class="bibliography">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/9783527610273.ch2" target="_blank">
        K. Hirose
        <em>
          Determination of Binding Constants</em>. In: P. D. C. Schalley,
        <em>
          Analytical Methods in Supramolecular Chemistry
        </em>, Wiley‐VCH Verlag
        <b>2006</b>.
      </a>
    </li>
  </ol>
</span>


<!-- #reviewed 4.2.2021 -->
