<h3 id="Tec_ref" class="level2">References</h3>
<span class="item">
  <ol class="bibliography">
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1016/s0091-679x(07)84004-0" target="_blank">
        M. W. Freyer, E. A. Lewis,
        <em>Methods in Cell Biology</em>
        <b>
          2008</b>,<em>84</em>, 79-113.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.2144/04376te01" target="_blank">
        J. E. Ladbury,
        <em>Biotechniques</em>
        <b>2004</b>,
        <em>37</em>, 885-887.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1007/BF03245784" target="_blank">
        A. A. Saboury,
        <em>Journal of the Iranian Chemical Society</em>
        <b>2006</b>,
        <em>3</em>, 1-21.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja036166s" target="_blank">
        W. B. Turnbull, A. H. Daranas,
        <em>Journal of the American Chemical Society</em>
        <b>2003</b>,
        <em>125</em>, 14859-14866.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/ange.19881000407" target="_blank">
        M. G. H. Kessler, M. Gehrke, C. Griesinger,
        <em>Angewandte Chemie</em>
        <b>1988</b>,
        <em>100</em>, 507-554.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/phbl.19820381208" target="_blank">
        M. Holz, B. Knüttel,
        <em>Physikalische Blätter</em>
        <b>1982</b>,
        <em>38</em>, 368-374.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://global.oup.com/ukhe/product/atkins-physical-chemistry-9780198769866?cc=de&lang=en&" target="_blank">
        J. de Paula, P. W. Atkins,
        <em>Physical Chemistry, 11th Edition</em>, Oxford University Press,
        <b>2017</b>.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ed060p933" target="_blank">
        R. G. Bryant,
        <em>Journal of Chemical Education
        </em>
        <b>1983</b>,
        <em>60</em>, 933.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1016/1011-1344(88)85060-7" target="_blank">
        D. Frackowiak,
        <em>Journal of Photochemistry and Photobiology B: Biology</em>
        <b>1988</b>,
        <em>2</em>, 399.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja01240a030" target="_blank">
        G. N. Lewis, M. Kasha,
        <em>Journal of the American Chemical Society</em>
        <b>1944</b>,
        <em>66</em>, 2100-2116.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1007/978-3-642-16712-6_784" target="_blank">
        P. Wormell, A. Rodger,
        <em>Absorbance Spectroscopy: Overview</em>. In: Ed.: G. C. K. Roberts,
        <em>Encyclopedia of Biophysics</em>, Springer-Verlag,
        <b>2013</b>.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja00052a069" target="_blank">
        A. R. Bernardo, J. F. Stoddart, A. E. Kaifer,
        <em>Journal of the American Chemical Society</em>
        <b>1992</b>,
        <em>114</em>, 10624-10631.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1007/978-0-387-46312-4" target="_blank">
        J. R. Lakowicz,<em>
          Principles of Fluorescence Spectroscopy, 3rd edition</em>, Springer,
        <b>2006</b>.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/DF9500900014" target="_blank">
        M. Kasha,
        <em>Discussions of the Faraday Society</em>
        <b>1950</b>,
        <em>9</em>, 14-19.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/9783527644131.ch6" target="_blank">
        Y. Cohen, L. Avram, T. Evan-Salem, S. Slovak, N. Shemesh, L. Frish, 197-285. In: Ed.: P. D. C. Schalley,
        <em>
          Analytical Methods in Supramolecular Chemistry
        </em>, Wiley‐VCH Verlag
        <b>2006</b>.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1023/A:1011117412693" target="_blank">
        K. Hirose,
        <em>Journal of Inclusion Phenomena</em>
        <b>2001</b>,
        <em>39</em>, 193-209.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/B515476F" target="_blank">
        N. Berova, L. Di Bari, G. Pescitelli,
        <em>Chemical Society Reviews</em>
        <b>2007</b>,
        <em>36</em>, 914-931.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.3762/bjoc.14.5" target="_blank">
        T. Smidlehner, I. Piantanida, G. Pescitelli,
        <em>Beilstein Journal of Organic Chemistry</em>
        <b>2018</b>,
        <em>14</em>, 84-105.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja410428b" target="_blank">
        K. W. Bentley, Y. G. Nam, J. M. Murphy, C. Wolf,
        <em>Journal of American Chemical Society</em>
        <b>2013</b>,
        <em>135</em>, 18052-18055.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/cr050005k" target="_blank">
        G. A. Hembury, V. V. Borovkov, Y. Inoue,
        <em>Chemical Reviews</em>
        <b>2008</b>,
        <em>108</em>, 1-73.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1038/nchem.1198" target="_blank">
        L. You, J. S. Berman, E. V. Anslyn,
        <em>Nature Chemistry</em>
        <b>2011</b>,
        <em>3</em>, 943-948.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/D0CC00707B" target="_blank">
        A. Prabodh, D. Bauer, S. Kubik, P. Rebmann, F.-G. Klärner, T. Schrader, L. Delarue Bizzini, M. Mayor, F. Biedermann,
        <em>Chemical Communcations</em>
        <b>2020</b>,
        <em>56</em>, 4652-4655.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/anie.201400718" target="_blank">
        F. Biedermann, W. M. Nau,<em>
          Angewandte Chemie International Edition
        </em>
        <b>2014</b>,
        <em>53</em>, 5694-5699.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/ja905319w" target="_blank">
        E. J. Blackie, E. C. Le Ru, P. G. Etchegoin, 2009
        <em>
          Journal of American Chemical Society</em>
        <b>2009</b>,
        <em>131</em>, 14466–14472.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/9783527615438" target="_blank">
        Ed.: B. Schrader,
        <em>Infrared and Raman Spectroscopy: Methods and Applications</em>, Wiley VCH,
        <b>1995</b>.
      </a>
    </li>

    <li class="bibliographic_item">
      <a href="https://doi.org/10.1039/c7fd00147a" target="_blank">
        B. de Nijs, M. Kamp, I. Szabo, S. J. Barrow, F. Benz, G. Wu, C. Carnegie, R. Chikkaraddy, W. Wang, W. M. Deacon, E. Rosta, J. J. Baumberg, O. A. Scherman,
        <em>Faraday Discussions</em>
        <b>
          2017</b>,
        <em>205</em>, 505-515.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://www.wiley.com/en-us/Electrochemical+Methods%3A+Fundamentals+and+Applications%2C+2nd+Edition-p-9780471043720" target="_blank">
        A. J. Bard, L. Faulkner,
        <em>Electrochemical Methods: Fundamentals and Applications, 2nd edition</em>
        Wiley,<b>
          2000</b>.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/bk-1989-0390" target="_blank">
        Eds.: M. V. Orna, J. Stock,
        <em>Electrochemistry, past and present</em>
        American Chemical Society,
        <b>
          1989</b>.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.5772/52803" target="_blank">
        J. Radecki, H. Radecka,
        <em>Potentiometry for Study of supramolecular recognition prodesses between uncharged molecules</em>. In: Ed. G. Radis-Baptista,
        <em>An Integrated View of the Molecular Recognition and Toxinology</em>
        IntechOpen,
        <b>2013</b>.</a>
    </li>
    <li class="bibliographic_item">
      E. Zavoisky ,
      <em>Fizicheskiĭ Zhurnal</em>
      ,
      <b>
        1945</b>,
      <em>9
      </em>, 211–245.</li>
    <li class="bibliographic_item">
      <a href="https://www.worldcat.org/title/molecular-spectroscopy/oclc/1121066" target="_blank">
        I. N. Levine,
        <em>Molecular Spectroscopy</em>
        Wiley & Sons,
        <b>1975</b>, 380.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://www.springer.com/gp/book/9789401083072" target="_blank">
        J. E. Wertz, J. R. Bolton ,
        <em>Electron spin resonance: Elementary theory and practical applications</em>
        Chapman and Hall,
        <b>
          1986</b>.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://www.wiley-vch.de/de/fachgebiete/naturwissenschaften/epr-spectroscopy-978-1-119-16299-5" target="_blank">
        Eds.: D. Goldfarb, S. Stoll,
        <em>EPR Spectroscopy: Fundamentals and Methods</em>
        Wiley-VCU,
        <b>2018</b>.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1021/jacs.9b00150" target="_blank">
        S. Combes, K. T. Tran, M. M. Ayhan, H. Karoui, A. Rockenbauer, A. Tonetto, V. Monnier, L. Charles, R. Rosas, S. Viel, D. Siri, P. Tordo, S. Clair, R. Wand, D. Bardelang, O. Ouari,
        <em>Journal of American Chemical Society</em>,
        <b>2019</b>,
        <em>141
        </em>, 5897-5907.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1002/9783527644131.ch4" target="_blank">
        H. Stephan, M. Kubeil, K. Gloe, K. Gloe,
        <em>
          Extraction methods</em>. In: In: Ed.: P. D. C. Schalley,
        <em>
          Analytical Methods in Supramolecular Chemistry
        </em>, Wiley‐VCH Verlag
        <b>2006</b>.
      </a>
    </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1080/10256018308544907" target="_blank">
        K. Gloe, P. Mühl,
        <em>Isotopes in Environmental and Health Studies</em>
        <b>1983</b>,
        <em>19</em>, 257-260.</a>
    </li>
    <li class="bibliographic_item">
      <a href="https://www.wiley.com/en-us/Principles+and+Methods+in+Supramolecular+Chemistry-p-9780471972532" target="_blank">
        H. J. Schneider, A. Yatsimirsky,
        <em>Principles and Methods in Supramolecular Chemistry</em>, John Wiley & Sons,<b>
          2000
        </b>.
      </a>
    </li>
    <li class="bibliographic_item">
     <a href="https://doi.org/10.1021/acs.langmuir.7b01445" target="_blank">
       T. R. Canrinus, W. W. Y. Lee, B. L. Feringa, S. E. J. Bell, W. R. Browne,
       <em>
         Langmuir
       </em>
       <b>2017</b>,
       <em>33</em>, 8805-8812.
     </a>
   </li>
    <li class="bibliographic_item">
      <a href="https://doi.org/10.1016/S0022-0728(03)00215-8" target="_blank">
        A. G. Brolo, Z. Jiang, D. E. Irish,
        <em>Journal of Electroanalytical Chemistry</em>
        <b>2003</b>
        <em>547</em>, 163–172.
      </a>
    </li>
  </ol>
</span>
