<h3 id="theory" class="level1">Thermodynamics and Kinetics</h3>

<p class="item">
  Often, thermodynamic and kinetic parameters are described by equation systems, which cannot be solved analytically. In this case, numerical fitting and simulations can be used for the determination of
  <em>e.g.</em>
  the binding affinity or rate constants. Among others, the following two software packages were developed for this purpose:
</p>

<p id="SimFit_tools" class="item">
  <ol class="list">
    <li>
      <b>thermoSimFit</b>: a tool to simulate and fit binding isotherms and affinities<br>

      Download here:
      <a href="https://github.com/ASDSE/thermosimfit/zipball/master" target="_blank">latest&nbsprelease</a>.
      <br>
      Cite:
      <a href="https://doi.org/10.1039/D0CC01841D" target="_blank">
        S. Sinn, J. Krämer, F. Biedermann,
        <em>Chemical Communications</em>
        <b>2020</b>,
        <em>56</em>, 6620-6623.</a><br>
      Contribute:
      <a href="https://github.com/ASDSE/thermosimfit" target="_blank">Mathematica software package ASDSE thermoSimFit</a>.
    </li>

    <li>
      <b>
        kineticSimFit</b>: a tool for fitting kinetic data<br>
      Download here:
      <a href="https://github.com/ASDSE/kineticsimfit/zipball/master" target="_blank">latest&nbsprelease</a>.<br>
      Cite:
      <a href="https://doi.org/10.1039/D0CC03715J" target="_blank">
        A. Prabodh, S. Sinn, L. Grimm, Z. Miskolczy, M. Megyesi, L. Biczok, S. Bräse, F. Biedermann,
        <em>
          Chemical Communications</em>
        <b>2020</b>
        <em>56</em>, 12327-12330.</a><br>
      Contribute:
      <a href="https://github.com/ASDSE/kineticsimfit" target="_blank">Mathematica software package ASDSE kineticSimFit</a>.
    </li>
  </ol>
</p>
<!-- #reviewed 3.2.2021 -->
