<div class="container-fluid ">
  <div class="row">
    <p class="col-xs-12">How to create a custom framework?</p>
    <p class="col-xs-12">The zeolite codes and according framework bases are preloaded in the SupraBank. In order to create a custom material based on that framework please give a uniq name and start searching for the base framework.</p>
    <p class="col-xs-12">Is a base framework missing? Please send your request to <a href="mailto:contact@suprabank.org"  class="text-info" style="color: cadetblue !important;">contact@suprabank.org </a></p>
    <p class="col-xs-12">Please also specify the Si/Al ratio as well as the counter ion of your framework.</p>
    

  </div>
</div>
