<div class="form-group container" style="text-align:left;" id="options_selection">
  <div class="row text-center">
    <button class="btn btn-lg btn-default btn-seletion" id="kinetics_toggle" type="button" aria-expanded="false" aria-controls="collapseExample">
      Kinetics
    </button>
    <button class="btn btn-lg btn-default btn-seletion thermodynamics_toggle" id="thermodynamics_toggle" type="button" aria-expanded="false" aria-controls="collapseExample">
      Thermodynamics
    </button>
    <button class="btn btn-lg btn-default btn-seletion " id="comment_toggle" type="button" aria-expanded="false" aria-controls="collapseExample">
      Comment
    </button>
    <button class="btn btn-lg btn-primary btn-seletion" id="publishing_toggle" type="button" aria-expanded="false" aria-controls="collapseExample">
      Publishing
    </button>
  </div>
</div>
