<% if params[:action] == 'advsearch' %>
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-8">
      <%= bootstrap_flash %>
    </div>

    <div class="col-md-3 ">

    </div>

  </div>

  <% if @interactions.present? %>

  <%= render 'newinteraction', interactions:@interactions, table_id:"molecules"%>
  <% end %>

<% end %>

<script type="text/javascript">

        var dataTables = {
          "molecules":NaN
        }


        $(document).on('ajax:complete',function(){
            dataTables.molecules = $('#int-index-molecules').DataTable(dataTablesPropDefault);
          // reset table properties if after first search changed to another page (as e.g. glossary) and then come back to search
                    if (searchButtons_clicked === 2) {
                        searchButtons_clicked = 1;
                        dataTables.molecules.state.clear().destroy();
                        dataTables.molecules = $('#int-index-molecules').DataTable(dataTablesPropDefault);
                    };
            dataTables.molecules.on('page.dt', function(){
                      hidePopovers();
                    });

            dataTables.molecules.on('order.dt', function(){
                      hidePopovers();
                  });

        });


        $(document).on('page.dt', function(){
               hidePopovers();
             });


             window.alert = (function() {
               var nativeAlert = window.alert;
               return function(message) {
                   window.alert = nativeAlert;
                   message.indexOf("DataTables warning") === 0 ?
                       console.warn(message) :
                       nativeAlert(message);
               }
             })();

</script>
