<div class="container">
  <div class="row">
    <h1>SupraBank Daily Report of <%= ENV["LOGOENV"] %> | <%= ENV["ENVHOST"]  %> </h1>
    <div class="alert alert-info">
      Report of <strong><%= @date %></strong>
    </div>
  </div>
  <%= render 'report_body' %>
</div>
