
    <h1>SupraBank Daily Report</h1>
    <p>
      Today is <%= Time.zone.now.to_date %>
    </p>
    <p>
      <span>Summary</span>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>New Interactions</th>
            <th>New Molecules</th>
            <th>New Solvents</th>
            <th>New Additives</th>
            <th>New Buffers</th>
          </tr>
        </thead>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
      </table>
    </p>
