<div class="form-group row">
  <div class="col-md-3" style="text-align:left;">
    <label class="labelAlign" for="q_doi_cont"><i class="fas fa-trash"></i> DOI</label>
  </div>
  <div class="col-md-8">
    <%= f.search_field :doi_cont, class:"form-control search-box searchfield refinement-input", placeholder: "DOI"  %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3" style="text-align:left;">
    <label class="labelAlign" for="q_related_identifiers_citation_cont"><i class="fas fa-trash"></i> Author</label>
  </div>
  <div class="col-md-8">
    <%= f.search_field :related_identifiers_citation_cont, class:"form-control search-box searchfield refinement-input", placeholder: "author"  %>
  </div>
</div>
    

    
