<div class="container col-md-6">
  <div class="form-group row">
    <div class="col-md-12">
      <button class="btn btn-md btn-default include_button" type="button" data-toggle="collapse" data-target="#citation_panel" aria-expanded="false" aria-controls="collapseExample">
        Specify Citation
      </button>
    </div>
  </div>
  <div class="collapse container col-md-12" id="citation_panel">
    <%= render 'interactions/advanced_search/citation/citation', f:f %>
  </div>
</div>
