<table class="table table-responsive determination_specification">
  <thead>
    <tr>
      <th class="col-md-4 view_count_head"><i class="fas fa-eye"></i> Views</th>
      <th class="col-md-4 download_count_head"><i class="fas fa-download"></i> Downloads</th>
      <th class="col-md-4 citation_count_head"><i class="fas fa-quote-left"></i> Citations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @dataset.view_count %> </td>
      <td><%= @dataset.download_count %> </td>
      <td><%= @dataset.citation_count %> </td>
    </tr>
  </tbody>
</table>
