

<div class="container">
  <%= render 'result' %>
  <div class="container col-md-12">
    <%= link_to 'Back', 'javascript:history.back()', class:"btn btn-default" %>
    <% if policy(@additive).update? %>
       <%= link_to 'Edit', edit_additive_path(@additive), class:"btn btn-default" %>
    <% end %>
  </div>
</div>
