
<div class="page-header">
  <h1>Your group's interactions</h1>
</div>
<span class="text-primary"><%= page_entries_info @interactions_published %></span>
<%= render partial:"users/interactions/table_ransack", :locals =>{ranquery: @qpublished, interactions: @interactions_published, table_id:'published'} %>
<%= paginate @interactions_published, btncolor:"primary"  %>
<script type="text/javascript">
var dataTablesProp = {
 "bAutoWidth": false,
 "bDestroy": true,
 stateSave: true,
 searching: false,
 paging: true,
 info: true,
 "order": [],
 "columnDefs": [
   {"targets"    : 'no-sort',
    "orderable"  : false},
   {"targets"    : [ 3,4,7,8 ],
    "visible"    : false},
    {"width": "2%", "targets": [9]},
   {"width": "3%", "targets": [1,3,5,7]} ],
 "drawCallback": function(){

   $('[data-toggle="popover"]').popover({
       container: 'body',
       placement : 'top',
       trigger : 'click',
       html : true,
   });

   $('[data-toggle="top-popover"]').popover({
       container: 'body',
       placement : 'top',
       trigger : 'click',
       html : true,
   });
   $('[data-toggle="ajax-tooltip"]').tooltip({
       placement : 'right',
       trigger : 'hover',
       html : true,
   });
   $('[data-toggle="tooltip"]').tooltip({
       placement : 'left',
       trigger : 'hover',
       html : true,
   });
   $('[data-toggle="left-tooltip"]').tooltip({
       placement : 'left',
       trigger : 'hover',
       html : true,
   });
 }
}

var dataTables = {
  "published":NaN,
  "submitted":NaN,
  "accepted":NaN,
  "pending":NaN,
  "embargoed":NaN
}





var publishPropsSource = {
  ordering: false,
  info: false,
  searching: false,
  paging: false
}

var publishPropsTarget=JSON.parse(JSON.stringify(dataTablesProp))
// dataTablesPropSubmitted["ordering"] = false
dataTablesPropPublished = Object.assign(publishPropsTarget,publishPropsSource)

$(document).on('turbolinks:load',function(){
    dataTables.published = $('#int-index-published').DataTable(dataTablesPropPublished);
});



</script>
