<!-- method -->
<div class="container col-md-6">
  <div class="form-group row">
    <div class="col-md-12">
      <button class="btn btn-md btn-default include_button" type="button" data-toggle="collapse" data-target="#method_panel" aria-expanded="false" aria-controls="collapseExample">
        Specify Method
      </button>
    </div>
  </div>
  <div class="collapse container col-md-12" id="method_panel">
    <%= render 'interactions/advanced_search/methods/method' , f:f%>
  </div>
</div>
