<div class="row">
  <h3>Contact Information</h3>
  <p>Please contact us by E-Mail: <a href="<a href="mailto:conact@suprabank.org?subject=feedback" class="external-link" ><strong>contact@suprabank.org</strong></a></p>
</div>
