<div class="container col-md-12 col-xs-12" id="funding">
  <hr>
  <h2>Funded by</h2>
  <div class="funding-logos row" > 
    <div class="col-md-4 col-xs-12">
      <%= link_to (image_tag "logos/dfg-en_h100.png", class: "img-rounded image-funding"), "https://www.dfg.de/", target: :_blank, "rel" => "noopener noreferrer" %>
    </div>
    <div class="col-md-4 col-xs-12">
      <%= link_to (image_tag "logos/Logo_KIT_h100.png", class: "img-rounded image-funding"), "https://www.kit.edu/", target: :_blank, "rel" => "noopener noreferrer" %>
    </div>
    <div class="col-md-4 col-xs-12">
      <%= link_to (image_tag "logos/NFDI4Chem-Logo-new_h100.png", class: "img-rounded image-funding"), "https://www.nfdi4chem.de", target: :_blank, "rel" => "noopener noreferrer" %>
    </div>
  </div>
</div>