<div class="row">
  <h3>Mission Statement</h3>
  <p class="text-justify">The SupraBank is providing detailed information of intermolecular interactions. Especially host:guest interactions are covered, but also ligand:protein interactions, and polymer interactions as well as surface adsorption processes can be managed. The reporting of conditions during the analysis of intermolecular interactions, such as binding isotherms, are in general annotated in text-based publications in virtue of human readability. In order to compare binding data, the conditions of the experiments should be structured and machine readable for facile processing. Here the SupraBank offers the scientists a platform to view the experimental data structured for human readability at the web interface, but also offers machine-readable access. This platform is supposed to be a useful tool for all natural sciences, but especially for physical chemistry and supramolecular chemistry. </p>
</div>
