<div class="container col-md-12 col-xs-12" id='power'>
  <hr>
  <h2>Powered by</h2>
  <div class="funding-logos row">
    <div class="col-md-12 col-xs-12">
      <%= link_to (image_tag "logos/renewable_energy.svg", class: "img-rounded image-funding"), about_us_url(anchor:"power_text") %>
    </div>
  </div>
</div>  