<div class="container col-md-12 col-xs-12 search" style="margin-top: 30px;">
  <div class="row hidden">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <h2>Search</h2>
    </div>
    <div class="col-md-3"></div>
    </div>
  <div class="row">
    <%= render 'interactions/dblookup' %>
  </div>
  <div class="row" id='dbresults'>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="container">
      <div class="col-md-3">
          <%= render 'buttons/advanced_search_interactions' %>
      </div>
      <div class="col-md-3">
          <%= render 'buttons/editor_search_molecules' %>
      </div>
    
    </div>
    <div class="col-md-3"></div>
    <div class="container col-md-3 col-xs-12">
      <div class="form-group row ">
        <div class="col-md-12 col-xs-12">
        </div>
      </div>
    </div>
    <div class="container col-md-3 col-xs-12">
      <div class="form-group row ">
        <div class="col-md-12 col-xs-12">
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>