<div class="container col-md-12 col-xs-12" id='trust'>
  <hr>
  <h2>Trusted by</h2>
  <div class="funding-logos row">
    <div class="col-md-6 col-xs-12">
      <%= link_to (image_tag "https://api.fairsharing.org/img/fairsharing-attribution.svg", class: "img-rounded image-funding"), "https://fairsharing.org/FAIRsharing.vjWUT7", target: :_blank, "rel" => "noopener noreferrer", alt:"FAIRsharing Logo"%>
    </div>
    <div class="col-md-6 col-xs-12">
      <%= link_to (image_tag "logos/re3data_h100.png", class: "img-rounded image-funding"), "https://www.re3data.org/repository/r3d100013265", target: :_blank, "rel" => "noopener noreferrer" %>
    </div>
  </div>
</div>  