
<div class="container col-md-4 col-xs-12">
  <div class="well col-md-12 col-xs-12">
    <div class="row col-md-12 col-xs-12">
      <h1 style="padding-left: 15px; margin-bottom: 30px">News</h1>
    </div>
    <div class="container col-md-12 col-xs-12">
        <a class="twitter-timeline" data-chrome="noscrollbar transparent noheader nofooter" data-tweet-limit="3" data-border-color="#5479b4" data-link-color="#5479b4" href="https://twitter.com/supra_bank?ref_src=twsrc%5Etfw">Tweets by supra_bank</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">  </script>
    </div>
  </div>
</div>