<div class="col-md-12 col-xs-12" id="links">
  <hr>
  <h2 style="padding-left: 15px; margin-bottom: 30px">Useful links</h2>
  <p class="col-xs-12"> Please also check out <a href="http://supramolecular.org/" target="_blank" rel="noopener noreferrer"  class="external-link">supramolecular.org</a> by the Thordarson group, 
    <a href="http://wernernau.user.jacobs-university.de/?page_id=420" target="_blank" rel="noopener noreferrer"  class="external-link">Data Analysis</a> by the Nau group, 
    and the <a href="https://github.com/ASDSE"  target="_blank" rel="noopener noreferrer"  class="external-link">ASDSE fitting tools</a> by <a href="https://www.biedermann-labs.com/" target="_blank" class="external-link" rel="noopener noreferrer">our group</a>.
    <br>
    The ASDSE fitting tools offer the freely available Mathematica software package
    <a href="https://github.com/ASDSE/kineticsimfit"  target="_blank" rel="noopener noreferrer"  class="external-link">kineticsimfit</a> for simulating and fitting kinetic binding interactions
    as well as the freely available Mathematica software package
    <a href="https://github.com/ASDSE/thermosimfit"  target="_blank" rel="noopener noreferrer"  class="external-link">thermosimfit</a> for simulating and fitting thermodynamic binding isotherms.
  </p>
</div>