<h1>Privacy</h1>
<p>We take privacy very seriously and place the utmost importance on your rights and the security of your data.</p>
<ul>
<li><a href="#personal_data">1. Personal data</a></li>
<li><a href="#controller">2. Controller</a></li>
<li><a href="#website_access_and_server_log_files">3. Website access and server log files</a></li>
<li><a href="#cookies">4. Cookies</a></li>
<li><a href="#contacting">5. Contacting</a></li>
<li><a href="#registration_account_creation">6. Registration / account creation</a></li>
<li><a href="#newsletter">7. Newsletter</a></li>
<li><a href="#event_registration">8. Event registration</a></li>
<li><a href="#tls_encryption">9. TLS encryption</a></li>
<li><a href="#your_rights">10. Your rights</a></li>
</ul>
<div class="privacy-content">
<ol>
<li id="personal_data"><strong> Personal data</strong></li>
</ol>
<p>In the context of the use of this website, we process your personal data to the extent necessary for the provision of our content and services.</p>
<p>According to Art. 4 No. 1 of the EU General Data Protection Regulation (GDPR), personal data is all information that relates to an identified or identifiable natural person (e.g. name, adreesse, e-mail address, user behavior).</p>
<ol start="2">
<li id="controller"><strong> Controller</strong></li>
</ol>
<p>Controller for data processing within the meaning of the General Data Protection Regulation (GDPR) as well as other data protection regulations:</p>
<p>Karlsruher Institut f&uuml;r Technologie Kaiserstra&szlig;e 12 76131 Karlsruhe Deutschland Tel.: +49 721 608-0 Fax: +49 721 608-44290 E-Mail: <a href="mailto:info@kit.edu?subject=privacy" class="external-link">info@kit.edu</a></p>
<p>KIT is a corporation governed by public law, represented by its president Prof. Dr.-Ing. Holger Hanselka.</p>
<p>The Karlsruhe Institute of Technology is a corporation under public law. It is represented by the President Prof. Dr. Holger Hanselka. You can contact our data protection officer at dsb@kit.edu or the postal address with the addition &ldquo;Die Datenschutzbeauftragte&rdquo;.</p>
<ol start="3">
<li id="website_access_and_server_log_files"><strong> Website access and server log files</strong></li>
</ol>
<p>In the case of merely informational use of the website, i.e. if you do not register or otherwise transmit information to us, we only collect the personal data that your browser transmits to our server according to the settings you have made (server log files). To view our website, we collect the data that is technically necessary for this and to ensure stability and security in accordance with Art. 6, par. 1, clause 1, (f) GDPR.</p>
<ul>
<li>Anonymized IP address</li>
<li>Date and time of the request</li>
<li>Content of the request (specific page)</li>
<li>Access status/HTTP status code</li>
<li>Amount of data transferred in each case</li>
<li>Browser data (type, language and version)</li>
<li>Operating system and its interface</li>
</ul>
<p>This data cannot be assigned to specific persons. We do not combine this data with other data sources. We reserve the right to check this data retrospectively if we become aware of concrete indications of illegal use.</p>
<p>The user's IP address is stored for the duration of the session. This is necessary to enable the display of the website on the user's computer.</p>
<p>The storage of the IP address in the log files is done to ensure the functionality of the website. It also serves to optimize the website and the security of our systems. The data is not evaluated for marketing purposes.</p>
<p>The data is deleted when it is no longer required for the aforementioned purposes. In the case of the collection of data required for the display of the website, this occurs at the end of the respective session. In the case of storage of the data in the log files, this occurs after seven days at the latest. Further storage is possible if there are security concerns. In this case, the IP addresses are alienated so that an assignment of the calling client is no longer possible.</p>
<p>The legal basis for the temporary storage of the data is Art. 6, par. 1, clause 1, (f) GDPR. Since the collection and storage of this data is mandatory, there is no possibility to object to this.</p>
<ol start="4">
<li id="cookies"><strong> Cookies</strong></li>
</ol>
<p>In addition to the previously mentioned data, cookies are stored on your computer when you use our website. We use so-called session cookies (transient cookies). Persistent cookies or flash cookies are not used by us.</p>
<p>Cookies are small text files that are stored on your computer by the browser you are using and through which certain information flows to the server of our website. Cookies cannot execute programs or transfer viruses to your computer. They are used to make the website as a whole more user-friendly, more effective and, above all, faster. A distinction is made between session cookies (transient cookies) and permanent (persistent) cookies. Transient cookies are automatically deleted when you close the browser. These include, in particular, session cookies. These store a so-called session ID, with which various requests of your browser can be assigned to the common session. This allows your computer to be recognized when you return to our website. The session cookies are deleted when you log out or close the browser.</p>
<p>Hint: You can set your browser such that you will be informed about the setting of cookies and you can permit cookies in individual cases only, exclude the acceptance of cookies in certain cases or in general, and activate automatic deletion of cookies when closing your browser. When deactivating cookies, functionality of this website may be limited.</p>
<ol start="5">
<li id="contacting"><strong> Contacting</strong></li>
</ol>
<p>When contacting us by e-mail or telephone, your contact data of the user (e-mail address or telephone number and name, if applicable) will be stored for the purpose of replying. This data is not passed on to third parties.</p>
<p>We delete the data accruing in this context after the storage is no longer necessary for this purpose. This is the case when it can no longer be assumed that a response is desired. The legal basis for the processing of this data is Art. 6, par. 1, clause 1, (a) GDPR. You have the option to object to the processing of this data at any time. In this case, we will delete the data that was stored when you contacted us.</p>
<ol start="6">
<li id="registration_account_creation"><strong> Registration / account creation</strong></li>
</ol>
<p>On our website, we offer users the opportunity to register and create a user account by providing personal data. The data is entered in an input mask and transmitted to us and stored. The data is not passed on to third parties. Mandatory fields and therefore always recorded are the specified e-mail address, as well as your first and last name. Furthermore, the date and time of registration and the last visit to your user profile are stored.</p>
<p>Registration is required for the provision of certain content and services on this website (in particular for newsletter and event registration). The registration data is only accessible to the administrators of the SupraBank website.</p>
<p>Your data will remain stored as long as this is necessary to achieve the purpose of their collection. The data will be deleted as soon as this is no longer the case and the registration on our website is cancelled. As a user, you have the option to cancel your registration at any time. You can change and / or delete the data stored about you at any time yourself via your profile page. In addition, you can request deletion of your existing personal data by sending an email to  <a href="mailto:contact@suprabank.org?subject=privacy" class="external-link">contact@suprabank.org</a>. In case of deletion, the backups will remain in the database for 14 days. The legal basis for the processing of this data is Art. 6, par. 1, clause 1, (b) GDPR</p>
<ol start="7">
<li id="newsletter"><strong> Newsletter</strong></li>
</ol>
<p>On our website there is the possibility to subscribe to a free newsletter. This is linked to the creation of a user account and the contact data required for your user profile (see section 6). Your data will remain stored as long as the subscription to the newsletter is active. You can cancel the subscription yourself via your user account profile page. If you cancel the registration, this will automatically result in the cancellation of the newsletter.</p>
<p>For the processing of the data, your consent is obtained during the registration process and reference is made to this privacy policy. The legal basis for the processing of this data is accordingly Art. 6, par. 1, clause 1, (a) GDPR.</p>
<ol start="8">
<li id="event_registration"><strong> Event registration</strong></li>
</ol>
<p>We regularly offer events of various kinds via our website, some of which you can register for online. for which you can register online. Besides KIT, the organizers are the contractual partners of the innovative project SupraBank. During the registration required for this purpose (for information, see above), the data from the input mask will be transmitted to us. Mandatory fields and thus always recorded are the specified e-mail address, your first name and surname, the organization optionally specified during registration, and the time of registration for the event. event. In addition, you can provide voluntary information (e.g. your telephone number, which facilitates the organization of the event). facilitate the organization of the event).</p>
<p><strong>Receivers:</strong> For on-site events, it may be necessary to transmit your data to third parties (e.g. because the venue may only be entered with registration). As this depends on the particular event, we ask you to refer to the specific event descriptions. For some events we offer the possibility to to make the list of participants (including first name, last name, name of the organization) available to the other participants and/or the lecturers. If this is the case for the event, you have the possibility to agree to this option directly during registration. you have the possibility to agree to this option. Access to the data is generally granted to the employees responsible for the technical administration of the event. employees of the Institute of Nanotechnology of KIT responsible for the technical administration of the event and the respective responsible for the organization/content of the PMD network (the respective partner can be found in the specific event description). event description).</p>
<p><strong>Recording(s) of events:</strong> Some of our events are recorded and/or photographs are taken. photographs are taken. As this may vary from event to event, please refer to the specific event description for the specific information that may be available. As this may vary from event to event, please refer to the specific information provided in the respective event description.</p>
<p><strong>Legal basis and storage period:</strong> For the processing of data, your consent is obtained during the registration process. consent is obtained and reference is made to this privacy policy. The legal basis for the processing of this data is according to Art. 6 para. 1 lit. a DS-GVO. You have the option to object to the processing of your data at any time by object to the processing of your data and unsubscribe on the event page. An automatic deletion of data already transmitted to the organizer or third parties involved in the organization of the event will not be automatically deleted. Please send an e-mail to <a href="mailto:contact@suprabank.org?subject=privacy" class="external-link">contact@suprabank.org</a>. In this case we will arrange for the deletion of the data immediately. The personal data collected by us in the context of an event will be stored by us for as long as it is required for the organization of the event. as long as they are required for the organization of the event. After that your personal data will be deleted. If you cancel the underlying registration, this automatically results in the cancellation of the event.</p>
<ol start="9">
<li id="tls_encryption"><strong> TLS encryption</strong></li>
</ol>
<p>For security reasons and to protect the transmission of confidential content, such as requests that you send to us as the site operator, this site uses TLS encryption. You can recognize an encrypted connection by the fact that the address line of the browser changes from "http://" to "https://" and by the lock symbol in your browser line.</p>
<p>If TLS encryption is activated, the data that you transmit to us can generally not be read by third parties. Please note, however, that when transmitting data over the Internet, it is never possible to guarantee complete protection against access by third parties.</p>
<ol start="10">
<li id="your_rights"><strong> Your rights</strong></li>
</ol>
<p>You have the following rights in relation to the personal data concerning you:</p>
<ul>
<li>The right to obtain confirmation as to whether data concerning you are being processed and to receive information on the data processed, further information on the data processing and copies of the data (Art. 15 GDPR)</li>
<li>Right to rectify or complete inaccurate or incomplete data (Art. 16 GDPR)</li>
<li>Right to immediate deletion of data concerning you (Art. 17 GDPR)</li>
<li>Right to restrict processing (Art. 18 GDPR)</li>
<li>Right to object to the future processing of data concerning you, provided that the data are processed in accordance with Art. 6 para. 1 lit. e or para. f GDPR (Art. 21 GDPR)</li>
</ul>
<p>In addition, you have the right to complain about the processing of your personal data by us with a supervisory authority (Art. 77 GDPR). Pursuant to Art. 25 para. 1 LDSG, the supervisory authority within the meaning of Art. 51 para. 1 DS-GVO for KIT is:</p>
<p>The State Commissioner for Data Protection and Freedom of Information in Baden-W&uuml;rttemberg (Landesbeauftragter f&uuml;r den Datenschutz und die Informationsfreiheit Baden-W&uuml;rttemberg)</p>
<p>House address: K&ouml;nigstra&szlig;e 10a, 70173 Stuttgart</p>
<p>Postal address: P.O. Box 10 29 32, 70025 Stuttgart</p>
<p>Phone .: 0711 / 615541-0 Fax: 0711 / 615541-15 Email: poststelle@lfdi.bwl.de</p>
<p>&nbsp;</p>
</div>
