<div class="container">
  <div class="col-md-12">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Author comments</h3>
      </div>
      <div class="panel-body">
        <%= @interaction.revisions_reply %>
      </div>
      <div class="panel-footer">
        <p>This is the answer from the author of the entry to your revision comments.</p>
      </div>
    </div>
  </div>
</div>
