<div class="row">
  <div class="col-md-12 col-xs-12">
    <%= render 'molecules/locales/structure', object:@molecule %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <%= render 'molecules/locales/framework_properties', object:@molecule %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <%= render 'molecules/locales/framework_identifiers', object:@molecule %>
  </div>
</div>
