<div class="panel panel-warning">
  <div class="panel-heading">
    <h2 class="panel-title"><i class="fas fa-fingerprint"></i> Identifiers</h2>
  </div>
  <div class="panel-body ">
    <ul class="molecule-properties container-fluid">
      <li class=""><strong>Tags: </strong> <%= object.tag_list %> </li>
      <li class=""><strong>Name: </strong> <span ><%= object.display_name %></span> </li>
      <li class=""><strong>Code: </strong>  <%= object.preferred_abbreviation %></li>
    </ul>
  </div>
</div>
