<div class="panel panel-warning">
  <div class="panel-heading">
    <h2 class="panel-title"><i class="fas fa-mortar-pestle"></i> Additives</h2>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table determination_specification">
        <tbody>
          <%= render 'buffers/locales/additive_locale', object:object%>
        </tbody>
      </table>
    </div>
  </div>
</div>
