<div class="col-md-5 panel-default">

    <div class="panel-body">
      <h4 class="center"> <u>Additives</u></h4>
      <div class="table-responsive">
        <table class="table determination_specification">
          <tbody>
            <%= render 'buffers/locales/additive_locale', object:object%>


          </tbody>
        </table>
      </div>
  </div>
</div>
