<tr>
  <td class="no_top_border col-md-8"> <strong >Solvent</strong> </td>
  <td class="no_top_border col-md-4"> <strong >Vol %</strong> </td>

</tr>
<% number = 0 %>
<% for intsol in object.buffer_solvents do %>
<% if intsol.solvent.present? %>
<tr>

  <td class="col-md-2 ">
    <span class="has-js-popover" data-toggle="popover" title="Structure"
    data-content='
    <div class="">
      <% if intsol.solvent.present? %>
      <%= image_tag intsol.solvent.png_url, size: "250x250"%>
      <% end %>
    </div>
    ' >
    <% if intsol.solvent %>
      <span class="has-tooltip" data-toggle="tooltip" title="<%= intsol.solvent.display_name if intsol.solvent.display_name.present?  %>">
        <%= intsol.solvent.preferred_abbreviation.present? ? intsol.solvent.preferred_abbreviation.truncate(18) : intsol.solvent.display_name.truncate(18) %>
      </span>
    <% end %>
  </span>
  </td>
  <% if intsol.volume_percent.present? %>
    <td class="col-md-2">
      <span class="has-tooltip" data-toggle="tooltip" title="Percentage by volume"><%= intsol.volume_percent %> </span>
    </td>
  <% end %>
</tr>
<% number = number+1 %>
<% end %>
<% end %>
