<div class="col-md-4">
</div>
<%= f.label :ionic_strength, "Total concentration", :class => 'control-label col-md-2' %>
<div class="col-md-2">
  <%= f.text_field :ionic_strength, :class => 'form-control' %>
</div>
<div class="col-md-1 control-label">
  <strong>mM</strong>
</div>
<%= f.error_span(:ionic_strength) %>
