// Place all the styles related to the Frameworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-div .col-md-6 .form-group {
  margin-left: 0;
  margin-right: 0;
}