$navbar-default-bg: rgba(#30313c, 0.79);
$navbar-supraback-color: #5479b4;
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
.technique-icon:hover{
  cursor: default;
}
