.itc_position_radio {
    padding-left: 30px;
}

.multiple_variation_checkbox_label {
  display: none;
}

label.form-label {
  padding-left: 0px;
  float: left;
}

.btn-seletion {
  margin-left: 5rem;
}

.centered-checkbox {
  margin-top: 0.5em;
}

#host_suspension {
  display: none;
}

#host_cofactor_wt_panel {
  display: none;
}

#host_indicator_wt_panel {
  display: none;
}