td .dropdown {
  border: 1px solid #ccc;
  border-radius: 4px;
}


table.table-info thead tr th {
  border: none;
  padding: 3px;
}

table.table-info tbody tr td {
  border: none;
  padding: 3px;
}

.table .table.table-info {
  background: none;
  margin: 0;
}

.table tr td.img-td {
  text-align: center;
  vertical-align: middle;
}