ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

.cloud li {
  list-style: none;
  display: inline;
  padding-left: 5px;
}

.cloud li:nth-of-type(3n + 1) {
  color: cadetblue;
}
.cloud li:nth-of-type(4n + 3) {
  color: darkorange;
}
.cloud li:nth-of-type(5n - 3) {
  color: limegreen;
}
