<div class="page-header">
  <h1>Search for Buffers</h1>
</div>

<div class="">
  <%= render 'dblookup' %>
</div>

<div class="col-md-12">
 <hr>
</div>


<div class="col-md-12">
 <div class="form-group row">
   <div class="col-md-4">
    <%= render 'buttons/create_buffers' %>
  </div>

  <div class="col-md-4">
     <%= link_to 'Show all SupraBank buffers', listing_buffers_path, class:"btn btn-default btn-lg search_button" %>
  </div>
  </div>
 <div class="col-md-4">

 </div>
</div>

<style media="screen">
  .popover {
    width: 600px !important;
  }
</style>

<script type="text/javascript">
$('button[name=searchBufferButton]').on("click", function(){
  hidePopovers();
  if ($.fn.DataTable.isDataTable('#buffer-table' )) {
    dataTable.state.clear();
  } else {
    !($('button[name=searchBufferButton]').hasClass('.clicked')) | $('button[name=searchBufferButton]').addClass('.clicked');
  };
});
</script>
