
  <p class="footer-text"> <span ><a href="https://www.int.kit.edu/staff_4854.php" target="_blank"> Dr. Stephan Sinn 2019</a></span>

    <span class="pull-right has-tooltip" data-toggle="tooltip" title="Funded by the DFG"><%= link_to (image_tag "logos/dfg-en.png", class: "img-rounded nav-logo "), "https://www.dfg.de/", target: :_blank%></span>  
    <span class="pull-right has-tooltip" data-toggle="tooltip" title="Hosted by the KIT"><%= link_to (image_tag "Logo_KIT.png", class: "img-rounded nav-logo "), "https://www.kit.edu/", target: :_blank%></span>
    <span class="pull-right has-tooltip" data-toggle="tooltip" title="Project of the NFDI"><%= link_to (image_tag "NFDI4Chem_Logo.png", class: "img-rounded nav-logo"), "https://www.nfdi4chem.de", target: :_blank, "rel" => "noopener noreferrer" %></span>

  
  </p>
