
  <div class="sidebar-nav-fixed pull-right affix well group_menu" data-spy="affix" data-offset-top="195" >
    <h4>Group Navigation</h4>
    <ul class="nav nav-list ">
      <% if current_user.groups.present? %>
      <table class="table">
        <% for user in current_user.groups.first.users.sort_by{|word| word.role } %>
          <tr>
            <td>
              <%= user.full_name %>
            </td>
            <td>
              <%= link_to user.interactions.active.size, {controller: "/users", action: 'interactions', id:user}, class:'badge'%>
            </td>
          </tr>
          <% end %>
      </table>
      <% end %>
    </ul>
  </div><!--/.well -->
